@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #ff5a51;
}
.navbar .links {
  margin-left: 45%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
  font-size: 120%;
}
.content {
  padding: 30px;
}

.home h1{
  color: #ff5a51;
}

.calender h1{
  color: #ff5a51;
}

/* .container{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 45vmin;
  margin-bottom: 10px;
} */
.page-content{
  display: flex;
  flex-direction: row;
}

.container-content {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
}

.todo-container{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 45vmin;
  margin-bottom: 10px;
}

.calender-container{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 90vmin;
  margin-bottom: 10px;
}

.sidebar{
  flex-grow: 1;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}